.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-header {
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.app-content {
  flex: 1;
  padding: 20px 100px;
  text-align: left;
}

.app-footer {
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}